<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>

    <title> Resume Generator </title>
</head>



<body class="has-background-light">

    
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url  'homepage' %}">
                <strong> Resume Generator</strong>
            </a>
        </div>
        <div class="navbar-menu  is-active">
            <div class="navbar-end">
                
                    {% if request.user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                          Profile
                        </a>
                
                        <div class="navbar-dropdown">
                          <a class="navbar-item"  href="{% url 'view_cvs' %}">
                            My cvs
                          </a>
                          <a class="navbar-item"  href="{% url 'view_experiences' %}">
                            My experiences
                          </a>
                          <a class="navbar-item"  href="{% url 'view_skills' %}">
                            My skills
                          </a>
                          <a class="navbar-item"  href="{% url 'view_langues' %}">
                            Mes langues
                          </a>
                          <a class="navbar-item"  href="{% url 'view_langues' %}">
                            Mes hobbies
                          </a>
                          <a class="navbar-item"  href="{% url 'view_formations' %}">
                            Mes formations
                          </a>
                          <hr class="navbar-divider">
                          <a class="navbar-item">
                            Report an issue
                          </a>
                        </div>
                      </div>
                    <div class="navbar-item">
                    <div class="buttons">
                        
                        <a href="{% url 'account_logout' %}" class="button is-danger"> <strong>log out</strong></a>
                    </div>

                        {% else %}
                        <div class="navbar-item">
                        <div class="buttons">
                        <a href="{% url 'account_login' %}" class="button is-light"> <strong>Log in</strong></a>
                        <a href="{% url 'account_signup' %}" class="button is-success"> <strong>Sign Up</strong></a>
                        
                    </div>
                    </div>
                    {% endif %}
                </div>



            </div>
          
    </nav>



    {% block content %}
    {% endblock %}


    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Resume Generator</strong> by <a href="https://github.com/WassilDahi">Wassil dahimene</a> and   <a href="https://github.com/WassilDahi">Lotfi Bokhari</a>
          </p>
        </div>
      </footer>

   
</body>
</html>