<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <title> Resume Generator </title>
</head>



<body>

    
    <nav class="navbar is-light">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url  'homepage' %}">
                <strong> Resume Generator</strong>
            </a>
        </div>
        <div class="navbar-menu  is-active">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'account_logout' %}" class="button is-danger"> <strong>log out</strong></a>
                        {% else %}
                        <a href="{% url 'account_login' %}" class="button is-light"> <strong>Log in</strong></a>
                        <a href="{% url 'account_signup' %}" class="button is-success"> <strong>Sign Up</strong></a>
                        {% endif %}
                    </div>
                </div>



            </div>
        </div>   
    </nav>



    {% block content %}
    {% endblock %}


   
</body>
</html>