{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-8">
      <div class="block has-text-centered m-5">
        <h1 class="title m-3">Mes formations</h1>
        <div class="box">
              <form action="" method="post">
                {% csrf_token %}
                  {{ form.as_p }}
          
                <button type="submit"> Ajouter </button>
          
          
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="columns is-multiline is-mobile">
    <div class="column is-quarter">
    {% for formation in formations %}
    
      <div class="block has-text-centered m-5">

            <p class="title m-3">{{ formation.title }}</p>
            <p>{{ formation.begin_date }} -- {{ formation.end_date }} </p>
            <p>{{ formation.etablissement }} -- {{ formation.lieu }} </p>
            <form action="{% url 'delete_formation' formation.id %}" method="post">
              {% csrf_token %}
          <button type='submit'> supprimer </button>
          </form>
        </div>


        {% endfor %}
      </div>
    </div>


    {% endblock %}