{% extends 'base.html' %}


{% block content %}

<div class="container">

<div class="columns is-mobile is-centered">

    <div class="column is-8">

        <div class="block has-text-centered m-5">
            <h1 class="title m-3"> Home Page </h1>

            <a href="{% url 'view_cvs' %}" class="button is-danger"> <strong>Mes CV</strong></a>
            <a href="{% url 'view_experiences' %}" class="button is-danger"> <strong>Mes Expériences</strong></a>
            <a href="{% url 'view_skills' %}" class="button is-danger"> <strong>Mes Skills</strong></a>
            <a href="{% url 'view_languages' %}" class="button is-danger"> <strong>Mes Langues</strong></a>
            <a href="{% url 'view_hobbies' %}" class="button is-danger"> <strong>Mes Hobbies</strong></a>
          </div>
        

    </div>
</div>

</div>





{% endblock %}