{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-8">
      <div class="block has-text-centered m-5">
        <h1 class="title m-3">Mes langues</h1>
        <div class="box">
          <div class="buttons are-large is-centered">
         <form action="" method="post">
                {% csrf_token %}
                {% for p in form %}

                <p> {{p.label}} </p>
                {{ p }}
            
            
                {% endfor %}
          
                <button type="submit"> Ajouter </button>
          
          
              </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="columns is-multiline is-mobile">
    <div class="column is-quarter">
    {% for langue in langues %}
    
      <div class="block has-text-centered m-5">

            <p class="title m-3">{{ langue.title }}
              
              </p>
              <p>   <span> Note parler           {% with ''|center:langue.note_parler as range %}
              {% if range|length == 4  %}
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              {% elif  range|length == 3  %}
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              {% elif  range|length == 2  %}
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              {% elif  range|length == 1  %}
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              {% else %}
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              {% endif %}
              {% endwith %}
              || <span> Note écrit
              {% with ''|center:langue.note_ecrit as range %}
              {% if range|length == 4  %}
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              {% elif  range|length == 3  %}
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              {% elif  range|length == 2  %}
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              {% elif  range|length == 1  %}
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              {% else %}
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              {% endif %}
              {% endwith %}</p>
            <form action="{% url 'delete_langue' langue.id %}" method="post">
              {% csrf_token %}
          <button type='submit'> supprimer </button>
          </form>
        </div>


        {% endfor %}
      </div>
    </div>


    {% endblock %}