{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-8">
      <div class="block has-text-centered m-5">
        <h1 class="title m-3">Mes Skills</h1>
        <div class="box">
          <div class="buttons are-large is-centered">
              <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit"> Ajouter </button>
          
          
              </form>
              
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="columns is-multiline is-mobile">
    <div class="column is-quarter">
    {% for skill in skills %}
    
      <div class="block has-text-centered m-5">

            <p class="title m-3">{{ skill.title }} 
              {% with ''|center:skill.note as range %}
              {% if range|length == 4  %}
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              {% elif  range|length == 3  %}
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              {% elif  range|length == 2  %}
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              {% elif  range|length == 1  %}
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              {% else %}
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              {% endif %}
              {% endwith %}
              </p>
            <form action="{% url 'delete_skill' skill.id %}" method="post">
              {% csrf_token %}
          <button type='submit'> supprimer </button>
          </form>
        </div>


        {% endfor %}
      </div>
    </div>


    {% endblock %}