{% extends 'base.html' %}


{% block content %}

<div class="container">

<div class="columns is-mobile is-centered">

    <div class="column is-8">

        <div class="block has-text-centered m-5">
            <h1 class="title m-3"> Mes Skills </h1>
          </div>
        {% for skill in skills %}
 <div class="block has-text-centered m-5">
      <div class="card">
  <div class="card-content">
             
            <p class="title m-3"> {{ skill.title }} </p>
          </div>
             
           </div>
           </div>
         

        {% endfor %}

    </div>
</div>

</div>





{% endblock %}