{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="card">

<div class="card-content">


<h1 class="title m-4">{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% for field in form %}
  <div class="field">
    {{ field.errors }}
    <label class="label">{{field.label_tag}}</label>
    <div class="control">
      {{ field }}
    </div>
</div>
  {% endfor %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="button is-success m-4" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
</div>
{% endblock %}
